.header {
  display: flex;
  flex-direction: column;

  nav {
  width: calc(100% - 100px);;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #171717;

    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
  }

  .menu{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a {
      font-family: PT Serif;
      text-decoration: none;
      padding-left: 15px;
      color: #171717;
      &:hover {
        color: #C9A96E;
      }
    }
  }
}
.header-img {
  background-image: url(../img/header.png);
  background-repeat: no-repeat;

  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

  display: flex;
  align-items: flex-end;

  .item{
    flex-direction: column;
    color: #ffffff;
    padding: 50px;
    margin-left: 400px;
    font-family: PT Serif;
    width: 600px;

    h1 {
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    p {
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
    }
    .other {
      font-size: 14px;
      font-weight: 400;
      line-height: normal;

      display: flex; 
      
      span {
        padding-right: 15px;
        margin-top: 15px;
      }
    }
  }
}
}