.main {
  font-family: PT Serif;
  height: auto;
  position: relative;
  
  display: flex;
  flex-direction: column;

  .first-block {
    width: 900px;
    height: 555px;
    margin-left: 120px;
    padding-top: 50px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-around;
  
    .first-img {
      background-image: url(../img/1.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
      margin: 0;
      padding: 0;
    }
  
    .second-img {
      background-image: url(../img/2.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }

  }

  .second-block {
    width: 900px;
    height: 555px;
    margin-left: 120px;
    padding-top: -15px;
    
    display: flex;
    justify-content: space-around;
  
    .third-img {
      background-image: url(../img/3.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  
    .fourth-img {
      background-image: url(../img/4.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  }

  .third-block {
    width: 900px;
    height: 555px;
    margin-left: 120px;
    padding-top: -15px;
    
    display: flex;
    justify-content: space-around;
  
    .fifth-img {
      background-image: url(../img/5.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  
    .sixth-img {
      background-image: url(../img/6.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  }

  .fourth-block {
    width: 820px;
    height: 547px;
    margin-left: 160px;
    padding-top: -15px;

    .seventh-img {
      background-image: url(../img/7.png);
      background-repeat: no-repeat;
      background-size: contain;  
      width: 820px;
      height: 100%;
    }

    .txt-1 {
      padding: 20px;
      border: 1px solid #b1b1b19f;
      
      h1 {
        color: #C9A96E;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      p {
        color: #171717;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        padding-bottom: 20px;
      }
      span {
        color: #B1B1B1;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .fifth-block {
    width: 900px;
    height: 555px;
    margin-left: 120px;
    padding-top: 15px;
    
    display: flex;
    justify-content: space-around;
  
    .eighth-img {
      background-image: url(../img/8.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  
    .ninth-img {
      background-image: url(../img/9.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  }

  .sixth-block {
    width: 900px;
    height: 555px;
    margin-left: 120px;
    padding-top: 15px;
    
    display: flex;
    justify-content: space-around;
  
    .tenth-img {
      background-image: url(../img/10.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  
    .eleventh-img {
      background-image: url(../img/11.png);
      background-repeat: no-repeat;
      width: 100%;
      height: 50%;
    }
  }
}

